<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="case-category">
        <table>
           
          <h1>
            Case Category
          </h1>
    
           <tr id="subheading">
            <td>Category code</td>
            <td>Category </td>
            <td>Sub Category</td>
           </tr>
           <tr>
            <td>0101</td>
            <td>Labour Matters</td>
            <td>Dismissal</td>
           </tr>
           <tr>
            <td>0110</td>
            <td>Labour Matters</td>
            <td>Others</td>
           </tr>
           <tr>
            <td>0111</td>
            <td>Labour Matters</td>
            <td>Matters relating to Provident Fund</td>
           </tr>
           <tr>
            <td>0112</td>
           <td>Labour Matters</td>
           <td>Payment of Gratuity Act, 1962</td></tr>
           <tr>
            <td>0113</td>
            <td>Labour Matters</td>
            <td>Trade Unions Act, 1926</td>
           </tr>
           <tr>
           <td>0114</td>
           <td>Labour Matters</td>
           <td>Other matters under Industrial Disputes Act, 1947</td>
           </tr>
           <tr>
            <td>0102</td>
            <td>Labour Matters</td>
            <td>Retrenchment</td>
           </tr>
           <tr>
            <td>0103</td>
            <td>Labour Matters</td>
            <td>Labour Matters</td>
           </tr>
           <tr>
            <td>0104</td>
            <td>Labour Matters</td>
            <td>Matters relating to wages, bonus, ad-hoc, casual daily wages & their regularisation</td>
           </tr>
           <tr>
            <td>0201</td>
            <td>Rent Act Matters</td>
            <td>Eviction matters of personal necessity</td>
           </tr>
           <tr>
            <td>0202</td>
            <td>Rent Act Matters</td>
            <td>Eviction matters for re-building, and material alteration</td>
           </tr>
           <tr>
            <td>0203</td>
            <td>Rent Act Matters</td>
            <td>Eviction matters of sub-letting</td>
           </tr>
           <tr>
            <td>0204</td>
            <td>Rent Act Matters</td>
            <td>Eviction matters of disclaimer of title</td>
           </tr>
           <tr>
            <td>0205</td>
            <td>Rent Act Matters</td>
            <td>Arrears of rent</td>
           </tr>
           <tr>
           <td>310 Matter</td>
           <td>Direct Taxes</td>
           <td>Property Tax</td>
           </tr>
        </table>
    
        
    </div>

    
    <script src="script.js"></script>
</body>
    
</html>