<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="committee">
        <div class="grid">
            <div class="grid-item">S.No</div>
            <div class="grid-item">Title</div>
            <div class="grid-item">View</div>
            <div class="grid-item">1</div>
            <div class="grid-item">Committee</div>
            <div class="grid-item" id="pdf">
                <img src="pdf-icon-red-and-white-color-for-free-png.webp" alt="pdf" >
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>