<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    
    <div class="container">
        
       
        
        <div class="judge">
            <div class="picture">
                <div class="judge1">
                    <img src="download.jpg" alt="">
                    <h1>Acting Chief</h1>
                    <h1>Justice Manmohan</h1>
                </div>
            </div>
            <div class="picture">
                <div class="2">
                    <img src="Justice-Rajiv-Shakdher-min.jpg" alt="">
                    <h1>Justice  </h1>
                    <h1>Rajiv  Shakdher</h1>
                </div>
            </div>
            <div class="picture">
                <div class="3">
                    <img src="sureshkumar.jpg" alt="">
                    <h1>Justice Suresh <br>  Kumar Kait</h1>
                </div>
            </div>
            <div class="picture">
                <div class="4">
                    <img src="Justice Sanjeev Sachdeva.jpg" alt="">
                    <h1>Justice Sanjeev <br> Sachdeva</h1>
                </div>
            </div>
            <div class="picture">
                <div class="5">
                    <img src="Justice Vibhu Bakhru.jpg" alt="">
                    <h1>Justice Vibhu <br> Bakhru</h1>
                </div>
            </div>
            <div class="picture">
                <div class="6">
                    <img src="Justice V. Kameswar Rao.jpg" alt="">
                    <h1>Justice V. <br> Kameswar Rao</h1>
                </div>
            </div>
            <div class="picture">
                <div class="7">
                    <img src="Justice Yashwant Varma.jpg" alt="">
                    <h1>Justice Yashwant <br> Varma</h1>
                </div>
            </div>
            <div class="picture">
                <div class="8">
                    <img src="Justice Rekha Palli.jpg" alt="">
                    <h1>Justice <br> Rekha Palli</h1>
                </div>
            </div>
            <div class="picture">
                <div class="9">
                    <img src="Justice Prathiba M. Singh.jpg" alt="">
                    <h1>Justice Prathiba M. <br> Singh</h1>
                </div>
            </div>
            <div class="picture">
                <div class="10">
                    <img src="Justice Navin Chawla.jpg" alt="">
                    <h1>Justice Navin Chawla</h1>
                </div>
            </div>
            <div class="picture">
                <div class="11">
                    <img src="Justice C. Hari Shankar.jpg" alt="">
                    <h1>Justice C. Hari <br> Shankar</h1>
                </div>
            </div>
            <div class="picture">
                <div class="12">
                    <img src="Justice Chandra Dhari Singh.jpg" alt="">
                    <h1>Justice Chandra  <br> Dhari Singh</h1>
                </div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>