<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrimeConnect</title>
    <link rel="stylesheet" href="styles1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-tkNYV4iIk3qHhMPVfsG02xKl5viYgAUJLzG7p9XWzc6q43iy1G5wIomYbY1wI0XQZAsJdZng7pFeuD5P/AXK9Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <h1 class="logo">CrimeConnect</h1>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/aboutUs">AboutUs</a></li>
                <% if (loggedIn) { %>
                <li id="dashboardLink"><a href="/dashboard">Dashboard</a></li>
                    <button onclick="logout()" style="background-color: red; color: white; border: none; border-radius: 6px; padding: 2px; font-weight: bold; font-size: 15px;">Logout</button>
                <% } %>
    
            </ul>
        </div>
    </nav>

    <div class="ticker-container">
        <div class="ticker-wrapper">
        <div class="ticker-transition">
        <div class="ticker-item">1.New Criminal Laws Would Produce Positive Impact Only If Infrastructure Development & Capacity Building Are Done : CJI DY Chandrachud
          Gyanvi Khanna
          20 Apr 2024 3:25 PM 
        </div>
        <div class="ticker-item">2.Supreme Court Stays Himachal Pradesh HC Order Refusing Recall Of Transfer Directions Against Kangra SP
          Anmol Kaur Bawa
          19 Apr 2024 9:20 PM</div>
        <div class="ticker-item">3.To Prove S.27 Evidence Act Statement, Investigating Officer Must Narrate What Accused Stated; Merely Exhibiting Memorandum Not Enough : Supreme Court
          LIVELAW NEWS NETWORK
          20 Apr 2024 12:11 PM
          
          </div>
        <div class="ticker-item">4.To Prove S.27 Evidence Act Statement, Investigating Officer Must Narrate What Accused Stated; Merely Exhibiting Memorandum Not Enough : Supreme Court
          LIVELAW NEWS NETWORK
          20 Apr 2024 12:11 PM
          
          
        </div>
        </div>
        </div>
        </div>


    <section class="hero">
        <div class="container">
            <div class="contain">
                <h1 class="moving-text">Welcome to Criminal Case Management Portal</h1>
                <p>"Empowering Clients, Connecting Cases: Your Premier Platform for Streamlined Legal Solutions."</p>
            </div>
            <% if(!loggedIn) { %>
            <div class="buttons" id="buttns" style="display: block;">
                <a href="/login-page" class="btn">Login</a>
                <a href="/register" class="btn">Register</a>
            </div>
            <% } else { %>
                <div class="container12" style="margin-left: 200px;">
                    <div class="case">
                        <ul style="list-style-type: none;">
                            <li class="unordered" id="caseCategory" style="padding: 1rem; background-color:#5e99ca; width: 300px; border-radius: 20px; box-shadow: 2px 3px 2px #154063;">
                                <a href="/category" >Case Category</a>
                            </li>
                            <li class="unordered" style="padding: 1rem; background-color: #5e99ca; margin-top: 10px; width: 300px; border-radius: 20px; box-shadow: 2px 3px 2px #154063;">
                                <a href="/comittee">Comittee</a>
                            </li>
                            <li class="unordered" id="vcRule" style="padding: 1rem; background-color:#5e99ca; margin-top: 10px; width: 300px; border-radius: 20px; box-shadow: 2px 3px 2px #154063;">
                                <a href="https://delhihighcourt.nic.in/uploads/VC_Rules2021.pdf">Rules Court 2021</a>
                            </li>
                            <li class="unordered" id="Judge" style="padding: 1rem; background-color:#5e99ca; margin-top: 10px; width: 300px; border-radius: 20px; box-shadow: 2px 3px 2px #154063;">
                                <a href="/data_page">Judges</a>
                                
                            </li>
                            <li class="unordered" id="links" style="padding: 1rem; background-color:#5e99ca; margin-top: 10px; width: 300px; border-radius: 20px; box-shadow: 2px 3px 2px #154063;">
                                <a href="/links">Links</a>
                            </li>
                            
                        </ul>   
                </div>
                </div>
            <% } %>
        </div>
    </section>
    
    <form action="/efile" method="get" style="text-align: center;">
        <div id="file">
        <h2 id="fileh2">File a new case</h2>
        <button style="width: 250px; height: 40px; margin: 10px auto; background-color: #5e99ca; border-radius: 20px; color: white; border: none; box-shadow: 1px 1px 3px black; cursor: pointer;">File a new Case</button>
        </div>
        
    </form>
    
    
    <form action="/search" method="GET" class="search-form">
        <h2 id="searchh3">Search a case:</h2>
        <input type="text" name="caseNumber" placeholder="Enter Case Number" class="search-input">
        <button type="submit" class="search-button">Search</button>
    </form>
    

    <div class="main">
            
        <div class="boxes">
            <div class="box" id="box1">
                <p id="totalCases"><%= totalCases %></p>
                <span>Total Cases</span>
            </div>
            <div class="box" id="box2">
                <p id="decidedCases"><%= Math.round(totalCases * .81) %></p>
                <span>Decided</span>
            </div>
            <div class="box" id="box3">
                <p id="pendingCases"><%= Math.round(totalCases * .12) %></p>
                <span>Pending</span>
            </div>
            <div class="box" id="box4">
                <p id="trialQueueCases"><%= Math.round(totalCases  * .07) %></p>
                <span>In trial Queue</span>
            </div>
        </div>
            
        <div class="resultBox">
            <div class="result" id="boxA" >
                <a href="/lawyers" class="btn">
                    <p>Hire Lawyer</p>
                </a>
            </div>
            <div class="result" id="boxC" >
                <a href="/undertrial_cases" class="btn">
                    <p>Under Trial Cases</p>
                </a>

            </div>
        </div>

    </div>


    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>About Us</h3>
                    <p>We are dedicated to unlocking legal potential and uniting cases. As your central hub for streamlined criminal justice solutions, we strive to empower you every step of the way.</p>
                </div>
                <div class="col-md-6">
                    <h3>Contact Us</h3>
                    <ul class="contact-info">
                        <li><i class="fa fa-envelope"></i> www.CrimeConnect.com</li>
                        <li><i class="fa fa-phone"></i> +1234567890</li>
                        <li><i class="fa fa-map-marker"></i> 123 Street , New Delhi, India</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>&copy; 2024 CrimeConnect. All rights reserved.</p>
            </div>
        </div>
    </footer>
    
    
        
    
    

</body>

<script>

    // window.onload = function() {
    //     var dashboardLink = document.getElementById('dashboardLink');
    //     if (dashboardLink) {
    //         dashboardLink.style.display = 'block';
    //     }
    //     var logout = document.getElementById('logout');
    //     if(logout){
    //         logout.style.display = 'block';
    //     }
        
    //     var file = document.getElementById('file');
    //     if(file){
    //         file.style.display = 'block';
    //     }

    // };

    // document.getElementById('logout').addEventListener('click', function(event) {
    //         event.preventDefault(); 
            
    //         document.getElementById('dashboardLink').style.display = 'none';

    //         var logout = document.getElementById('logout');
    //         if(logout){
    //             logout.style.display = 'none';
    //         }
    //         var btn = document.getElementById('buttns');
    //         if(btn){
    //             btn.style.display = 'block';
    //         }
    //         var file = document.getElementById('file');
    //         if(file){
    //         file.style.display = 'none';
    //     }
    function logout() {
        fetch('http://localhost:2000/logout', {
            method: 'GET',
            credentials: 'same-origin'
        })
        .then(response => {
            if (response.ok) {
                // Redirect to the home page or perform any other action after logout
                window.location.href = '/';
            } else {
                console.error('Logout failed');
            }
        })
        .catch(error => console.error('Error during logout:', error));
    }

</script>

</html>
