<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiring a Lawyer</title>
    <link rel="stylesheet" href="styles.css">
</head>
<style>
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #5e99ca; 
    padding: 15px; 
    color: black;
}

.back-btn {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #333; 
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    background-color: white; 
    color: black;
}

.logo {
    font-size: 35px;
    margin: 0;
    text-align: center; 
    flex: 1;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .back-btn {
        margin-bottom: 10px;
    }
}

.container{
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    margin: 100px 0 0 0px;
    width: 100%;
}

.incontainer{
    margin-left: 0px;
    margin-bottom:100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1000px;
}


.border-box{
    height: 400px;
    width: 400px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.ticker-wrap {
    background-color: #DFF5FF;
    color: black;
    padding: 15px 0;
    overflow: hidden;
}

.ticker-wrap ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: inline-block;
    animation: ticker 20s linear infinite;
}

.ticker-wrap li {
    display: inline;
    padding: 0 20px;
}

@keyframes ticker {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.lawyer-item{
    border-radius: 8%;
    background-color: #DFF5FF;
    box-shadow: 0px 2px 4px #5d5858;
}
.navbar{
    background-color: #1da1f2;
}
.button{
    text-decoration: none;
}
</style>
<body>
    <header>
        <nav class="navbar">
            <a href="/" class="back-btn">&larr; Back</a>
            <h1 class="logo">Hire a Lawyer</h1>
        </nav>
    </header>


    <div class="ticker-wrap">
        <ul>
            <li>Breaking News: Important announcement here</li>
            <li>Supreme Court Weekly Round-Up (20th April - 25 April, 2024).</li>
            <li>Delhi Court dismisses Arvind Kejriwal's plea</li>
        </ul>
    </div>


    <div class="containers" style="background-color: white; display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 50px;">

        
    <div class="incontainer">
        <div class="lawyer-item border-box" style="border: 1px solid black; padding: 20px;">
            <div class="row">
            <div class="col-sm-7 col-xs-12">
            <div class="media">
            <div class="pull-left">
            <a href="https://lawrato.com/advocate-gouri-shankar" title="Advocate H Gouri Shankar"><img class="media-object img-responsive" title="Advocate H Gouri Shankar - LawRato" alt="One of the best Advocates &amp; Lawyers in Hyderabad - Advocate H Gouri Shankar" style="border-radius: 5px;overflow: hidden;box-shadow: 1px 1px 1px rgba(0,0,0,0.3); width:86px;" src="https://lawrato.com/expert_images/thumb/webp/advocate-gouri-shankar.webp"></a>
            <div class="visible-xs cta margin-small-top">
            <a href="https://lawrato.com/advocate-gouri-shankar" title="Advocate H Gouri Shankar"><img style="width:90px; height:25px;" src="https://lawrato.com/assets/images/wa_chat_new.png" alt="Advocate H Gouri Shankar"></a>
            </div>
            </div>
            <div class="media-body">
            <div class="small-info">
            <a href="https://lawrato.com/advocate-gouri-shankar" title="Advocate H Gouri Shankar">
            <h2 class="media-heading" style="line-height:1.1;">Advocate H Gouri Shankar</h2></a>
            <div class="rating visible-xs margin-small-bottom">
            <span class="star-rating">
            </span>
            <span class="score">
            4.9 <img style="margin-right:3px; width:12px; height:12px; margin-top: -2px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato">|
            200+ user ratings</span>
            </div>
            <div class="location"><img src="https://lawrato.com/assets/img/sprite/icon/map-marker-icon.png" alt="LawRato"><span>Banjara Hills, Hyderabad</span> </div>
            <div class="experience"><img src="https://lawrato.com/assets/img/sprite/icon/suitcase-icon.png" alt="LawRato"><span>
            28 years Experience</span></div>
            <div class="experience visible-xs"><img src="https://lawrato.com/assets/img/sprite/icon/litigation-icon.png" alt="LawRato"><span>Family + 3 more</span></div>
            </div>
            </div>
            </div>
            </div>
            <div class="col-sm-5 alpha hidden-xs">
            <div class="rating">
            <span class="star-rating">
            <img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato"><img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato"><img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato"><img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato"><img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-half-icon.png" alt="LawRato"> </span>
            <span class="score">4.9 |
            200+ user ratings</span>
            </div>
            <div class="area-skill">
            <strong>Practice area &amp; skills</strong>
            <div>
            Family + 3 more</div>
            </div>
            <div class="cta margin-small-top">
            <a href="https://lawrato.com/advocate-gouri-shankar" class="button  button-primary button-small">CONTACT NOW</a>
            </div>
            </div>
            </div>
            </div>
    
    
            <div class="lawyer-item border-box" style="border: 1px solid black; padding: 20px;">
                <div class="row">
                <div class="col-sm-7 col-xs-12">
                <div class="media">
                <div class="pull-left">
                <a href="https://lawrato.com/advocate-rajeev-nigam" title="Advocate Rajeev Nigam"><img loading="lazy" class="media-object img-responsive" title="Advocate Rajeev Nigam - LawRato" alt="One of the best Advocates &amp; Lawyers in Kanpur - Advocate Rajeev Nigam" style="border-radius: 5px;overflow: hidden;box-shadow: 1px 1px 1px rgba(0,0,0,0.3); width:86px;" src="https://lawrato.com/expert_images/thumb/webp/advocate-rajeev-nigam.webp"></a>
                <div class="visible-xs cta margin-small-top">
                <a href="https://lawrato.com/advocate-rajeev-nigam" title="Advocate Rajeev Nigam"><img style="width:90px; height:25px;" src="https://lawrato.com/assets/images/wa_chat_new.png" alt="Advocate Rajeev Nigam"></a>
                </div>
                </div>
                <div class="media-body">
                <div class="small-info">
                <a href="https://lawrato.com/advocate-rajeev-nigam" title="Advocate Rajeev Nigam">
                <h2 class="media-heading" style="line-height:1.1;">Advocate Rajeev Nigam</h2></a>
                <div class="rating visible-xs margin-small-bottom">
                <span class="star-rating">
                </span>
                <span class="score">
                4.9 <img style="margin-right:3px; width:12px; height:12px; margin-top: -2px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato">|
                150+ user ratings</span>
                </div>
                <div class="location"><img src="https://lawrato.com/assets/img/sprite/icon/map-marker-icon.png" alt="LawRato"><span>Kanpur Nagar, Kanpur</span> </div>
                <div class="experience"><img src="https://lawrato.com/assets/img/sprite/icon/suitcase-icon.png" alt="LawRato"><span>
                30 years Experience</span></div>
                <div class="experience visible-xs"><img src="https://lawrato.com/assets/img/sprite/icon/litigation-icon.png" alt="LawRato"><span>Family + 3 more</span></div>
                </div>
                </div>
                </div>
                </div>
                <div class="col-sm-5 alpha hidden-xs">
                <div class="rating">
                <span class="star-rating">
                <img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato"><img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato"><img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato"><img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato"><img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-half-icon.png" alt="LawRato"> </span>
                <span class="score">4.9 |
                150+ user ratings</span>
                </div>
                <div class="area-skill">
                <strong>Practice area &amp; skills</strong>
                <div>
                Family + 3 more</div>
                </div>
                <div class="cta margin-small-top">
                <a href="https://lawrato.com/advocate-rajeev-nigam" class="button  button-primary button-small">CONTACT NOW</a>
                </div>
                </div>
                </div>
                </div>
    </div>
    
    
    <div class="incontainer">
        <div class="lawyer-item border-box" style="border: 1px solid black; padding: 20px;">
            <div class="row">
            <div class="col-sm-7 col-xs-12">
            <div class="media">
            <div class="pull-left">
            <a href="https://lawrato.com/advocate-bala-janaki" title="Advocate Bala Janaki"><img loading="lazy" class="media-object img-responsive" title="Advocate Bala Janaki - LawRato" alt="One of the best Advocates &amp; Lawyers in Chennai - Advocate Bala Janaki" style="border-radius: 5px;overflow: hidden;box-shadow: 1px 1px 1px rgba(0,0,0,0.3); width:86px;" src="https://lawrato.com/expert_images/thumb/webp/advocate-bala-janaki.webp"></a>
            <div class="visible-xs cta margin-small-top">
            <a href="https://lawrato.com/advocate-bala-janaki" title="Advocate Bala Janaki"><img style="width:90px; height:25px;" src="https://lawrato.com/assets/images/wa_chat_new.png" alt="Advocate Bala Janaki"></a>
            </div>
            </div>
            <div class="media-body">
            <div class="small-info">
            <a href="https://lawrato.com/advocate-bala-janaki" title="Advocate Bala Janaki">
            <h2 class="media-heading" style="line-height:1.1;">Advocate Bala Janaki</h2></a>
            <div class="rating visible-xs margin-small-bottom">
            <span class="star-rating">
            </span>
            <span class="score">
            4.9 <img style="margin-right:3px; width:12px; height:12px; margin-top: -2px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato">|
            200+ user ratings</span>
            </div>
            <div class="location"><img src="https://lawrato.com/assets/img/sprite/icon/map-marker-icon.png" alt="LawRato"><span>330 Thambuchetty Street, Chennai</span> </div>
            <div class="experience"><img src="https://lawrato.com/assets/img/sprite/icon/suitcase-icon.png" alt="LawRato"><span>
            39 years Experience</span></div>
            <div class="experience visible-xs"><img src="https://lawrato.com/assets/img/sprite/icon/litigation-icon.png" alt="LawRato"><span>Family + 3 more</span></div>
            </div>
            </div>
            </div>
            </div>
            <div class="col-sm-5 alpha hidden-xs">
            <div class="rating">
            <span class="star-rating">
            <img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato"><img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato"><img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato"><img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato"><img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-half-icon.png" alt="LawRato"> </span>
            <span class="score">4.9 |
            200+ user ratings</span>
            </div>
            <div class="area-skill">
            <strong>Practice area &amp; skills</strong>
            <div>
            Family + 3 more</div>
            </div>
            <div class="cta margin-small-top">
            <a href="https://lawrato.com/advocate-bala-janaki" class="button  button-primary button-small">CONTACT NOW</a>
            </div>
            </div>
            </div>
            </div>
    
    
            <div class="lawyer-item border-box" style="border: 1px solid black; padding: 20px;">
                <div class="row">
                <div class="col-sm-7 col-xs-12">
                <div class="media">
                <div class="pull-left">
                <a href="https://lawrato.com/advocate-sharat-chandra-arukonda" title="Advocate Sharat Chandra Arukonda"><img loading="lazy" class="media-object img-responsive" title="Advocate Sharat Chandra Arukonda - LawRato" alt="One of the best Advocates &amp; Lawyers in Hyderabad - Advocate Sharat Chandra Arukonda" style="border-radius: 5px;overflow: hidden;box-shadow: 1px 1px 1px rgba(0,0,0,0.3); width:86px;" src="https://lawrato.com/expert_images/thumb/advocate-sharat-chandra-arukonda.jpg"></a>
                <div class="visible-xs cta margin-small-top">
                <a href="https://lawrato.com/advocate-sharat-chandra-arukonda" title="Advocate Sharat Chandra Arukonda"><img style="width:90px; height:25px;" src="https://lawrato.com/assets/images/wa_chat_new.png" alt="Advocate Sharat Chandra Arukonda"></a>
                </div>
                </div>
                <div class="media-body">
                <div class="small-info">
                <a href="https://lawrato.com/advocate-sharat-chandra-arukonda" title="Advocate Sharat Chandra Arukonda">
                <h2 class="media-heading" style="line-height:1.1;">Advocate Sharat Chandra Arukonda</h2></a>
                <div class="rating visible-xs margin-small-bottom">
                <span class="star-rating">
                </span>
                <span class="score">
                4.5 <img style="margin-right:3px; width:12px; height:12px; margin-top: -2px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato">|
                50+ user ratings</span>
                </div>
                <div class="location"><img src="https://lawrato.com/assets/img/sprite/icon/map-marker-icon.png" alt="LawRato"><span>Madhapur, VIP Hills, Hyderabad</span> </div>
                <div class="experience"><img src="https://lawrato.com/assets/img/sprite/icon/suitcase-icon.png" alt="LawRato"><span>
                10 years Experience</span></div>
                <div class="experience visible-xs"><img src="https://lawrato.com/assets/img/sprite/icon/litigation-icon.png" alt="LawRato"><span>Family + 3 more</span></div>
                </div>
                </div>
                </div>
                </div>
                <div class="col-sm-5 alpha hidden-xs">
                <div class="rating">
                <span class="star-rating">
                <img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato"><img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato"><img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato"><img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato"><img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-half-icon.png" alt="LawRato"> </span>
                <span class="score">4.5 |
                50+ user ratings</span>
                </div>
                <div class="area-skill">
                <strong>Practice area &amp; skills</strong>
                <div>
                Family + 3 more</div>
                </div>
                <div class="cta margin-small-top">
                <a href="https://lawrato.com/advocate-sharat-chandra-arukonda" class="button  button-primary button-small">CONTACT NOW</a>
                </div>
                </div>
                </div>
                </div>
    </div>
        
    <div class="incontainer">
        <div class="lawyer-item border-box" style="border: 1px solid black; padding: 20px;">
            <div class="row">
            <div class="col-sm-7 col-xs-12">
            <div class="media">
            <div class="pull-left">
            <a href="https://lawrato.com/advocate-ravi-jadhav" title="Advocate Ravi Jadhav"><img loading="lazy" class="media-object img-responsive" title="Advocate Ravi Jadhav - LawRato" alt="One of the best Advocates &amp; Lawyers in Pune - Advocate Ravi Jadhav" style="border-radius: 5px;overflow: hidden;box-shadow: 1px 1px 1px rgba(0,0,0,0.3); width:86px;" src="https://lawrato.com/expert_images/thumb/webp/advocate-ravi-jadhav.webp"></a>
            <div class="visible-xs cta margin-small-top">
            <a href="https://lawrato.com/advocate-ravi-jadhav" title="Advocate Ravi Jadhav"><img style="width:90px; height:25px;" src="https://lawrato.com/assets/images/wa_chat_new.png" alt="Advocate Ravi Jadhav"></a>
            </div>
            </div>
            <div class="media-body">
            <div class="small-info">
            <a href="https://lawrato.com/advocate-ravi-jadhav" title="Advocate Ravi Jadhav">
            <h2 class="media-heading" style="line-height:1.1;">Advocate Ravi Jadhav</h2></a>
            <div class="rating visible-xs margin-small-bottom">
            <span class="star-rating">
            </span>
            <span class="score">
            4.7 <img style="margin-right:3px; width:12px; height:12px; margin-top: -2px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato">|
            200+ user ratings</span>
            </div>
            <div class="location"><img src="https://lawrato.com/assets/img/sprite/icon/map-marker-icon.png" alt="LawRato"><span>Koregaon Park, Pune</span> </div>
            <div class="experience"><img src="https://lawrato.com/assets/img/sprite/icon/suitcase-icon.png" alt="LawRato"><span>
            16 years Experience</span></div>
            <div class="experience visible-xs"><img src="https://lawrato.com/assets/img/sprite/icon/litigation-icon.png" alt="LawRato"><span>Family + 3 more</span></div>
            </div>
            </div>
            </div>
            </div>
            <div class="col-sm-5 alpha hidden-xs">
            <div class="rating">
            <span class="star-rating">
            <img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato"><img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato"><img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato"><img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato"><img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-half-icon.png" alt="LawRato"> </span>
            <span class="score">4.7 |
            200+ user ratings</span>
            </div>
            <div class="area-skill">
            <strong>Practice area &amp; skills</strong>
            <div>
            Family + 3 more</div>
            </div>
            <div class="cta margin-small-top">
            <a href="https://lawrato.com/advocate-ravi-jadhav" class="button  button-primary button-small">CONTACT NOW</a>
            </div>
            </div>
            </div>
            </div>
    
    
            <div class="lawyer-item border-box" style="border: 1px solid black; padding: 20px;">
                <div class="row">
                <div class="col-sm-7 col-xs-12">
                <div class="media">
                <div class="pull-left">
                <a href="https://lawrato.com/advocate-vijay-tangri" title="Advocate Vijay Tangri"><img loading="lazy" class="media-object img-responsive" title="Advocate Vijay Tangri - LawRato" alt="One of the best Advocates &amp; Lawyers in Delhi - Advocate Vijay Tangri" style="border-radius: 5px;overflow: hidden;box-shadow: 1px 1px 1px rgba(0,0,0,0.3); width:86px;" src="https://lawrato.com/expert_images/thumb/webp/advocate-vijay-tangri.webp"></a>
                <div class="visible-xs cta margin-small-top">
                <a href="https://lawrato.com/advocate-vijay-tangri" title="Advocate Vijay Tangri"><img style="width:90px; height:25px;" src="https://lawrato.com/assets/images/wa_chat_new.png" alt="Advocate Vijay Tangri"></a>
                </div>
                </div>
                <div class="media-body">
                <div class="small-info">
                <a href="https://lawrato.com/advocate-vijay-tangri" title="Advocate Vijay Tangri">
                <h2 class="media-heading" style="line-height:1.1;">Advocate Vijay Tangri</h2></a>
                <div class="rating visible-xs margin-small-bottom">
                <span class="star-rating">
                </span>
                <span class="score">
                4.8 <img style="margin-right:3px; width:12px; height:12px; margin-top: -2px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato">|
                50+ user ratings</span>
                </div>
                <div class="location"><img src="https://lawrato.com/assets/img/sprite/icon/map-marker-icon.png" alt="LawRato"><span>Saket, Delhi</span> </div>
                <div class="experience"><img src="https://lawrato.com/assets/img/sprite/icon/suitcase-icon.png" alt="LawRato"><span>
                25 years Experience</span></div>
                <div class="experience visible-xs"><img src="https://lawrato.com/assets/img/sprite/icon/litigation-icon.png" alt="LawRato"><span>Family + 3 more</span></div>
                </div>
                </div>
                </div>
                </div>
                <div class="col-sm-5 alpha hidden-xs">
                <div class="rating">
                <span class="star-rating">
                <img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato"><img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato"><img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato"><img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon.png" alt="LawRato"><img style="margin-right:5px; width:15px; height:15px;" src="https://lawrato.com/assets/img/sprite/icon/rating-star-half-icon.png" alt="LawRato"> </span>
                <span class="score">4.8 |
                50+ user ratings</span>
                </div>
                <div class="area-skill">
                <strong>Practice area &amp; skills</strong>
                <div>
                Family + 3 more</div>
                </div>
                <div class="cta margin-small-top">
                <a href="https://lawrato.com/advocate-vijay-tangri" class="button  button-primary button-small">CONTACT NOW</a>
                </div>
                </div>
                </div>
                </div>
    </div>

    </div>
</body>
</html>